<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhairyapujara.beauty_hub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Menu"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Brand_Insert"
            android:label="@string/title_activity_brand__insert"></activity>
        <activity
            android:name=".ViewAllBrands"
            android:label="@string/title_activity_view_all_brands"></activity>
        <activity
            android:name=".ViewBrand"
            android:label="@string/title_activity_view_brand"></activity>
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextPlay"
            android:label="@string/title_activity_text_play"></activity>
        <activity
            android:name=".Camera"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Data"
            android:label="title_activity_Data"></activity>
        <activity
            android:name=".OpenedClass"
            android:label="title_activity_Fetch_Dispaly"></activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name=".Preference"
            android:label="@string/title_activity_preference"></activity>
        <activity
            android:name=".GFX"
            android:label="@string/title_activity_gfx"></activity>
        <activity
            android:name=".GFXSurface"
            android:label="@string/title_activity_gfxsurface"></activity>
        <activity
            android:name=".SoundStuff"
            android:label="@string/title_activity_sound_stuff"></activity>
        <activity
            android:name=".Slider"
            android:label="@string/title_activity_slider"></activity>
        <activity
            android:name=".Tabs"
            android:label="@string/title_activity_tabs"></activity>
        <activity
            android:name=".SimpleBrowser"
            android:label="@string/title_activity_simple_browser"></activity>
        <activity
            android:name=".Flipper"
            android:label="@string/title_activity_flipper"></activity>
        <activity
            android:name=".SharedPrefs"
            android:label="@string/title_activity_shared_prefs"></activity>
        <activity
            android:name=".InternalData"
            android:label="@string/title_activity_internal_data"></activity>
        <activity
            android:name=".ExternalData"
            android:label="@string/title_activity_external_data"></activity>
        <activity
            android:name=".SQLiteExample"
            android:label="@string/title_activity_sqlite_example"></activity>
        <activity
            android:name=".SQLView"
            android:label="@string/title_activity_sqlview"></activity>
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_categories"></activity>
        <activity
            android:name=".CategoryInsert"
            android:label="@string/title_activity_category_insert"></activity>
        <activity
            android:name=".Items"
            android:label="@string/title_activity_items"></activity>
        <activity
            android:name=".ItemInsert"
            android:label="@string/title_activity_item_insert"></activity>
        <activity
            android:name=".ViewAllCategories"
            android:label="@string/title_activity_view_all_categories"></activity>
        <activity
            android:name=".ViewAllItems"
            android:label="@string/title_activity_view_all_items"></activity>
        <activity
            android:name=".Brands"
            android:label="@string/title_activity_brands"></activity>
        <activity
            android:name=".Add_User"
            android:label="@string/title_activity_add__user"></activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".ImageUpload"
            android:label="@string/title_activity_image_upload"></activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"></activity>
        <activity
            android:name=".ViewCategory"
            android:label="@string/title_activity_view_category"></activity>
        <activity
            android:name=".ViewItem"
            android:label="@string/title_activity_view_item"></activity>
        <activity
            android:name=".Gender"
            android:label="@string/title_activity_gender"></activity>
        <activity
            android:name=".ViewImage"
            android:label="@string/title_activity_view_image"></activity>
        <activity
            android:name=".ImageFetchAll"
            android:label="@string/title_activity_image_fetch_all"></activity>
        <activity
            android:name=".ViewProducts"
            android:label="@string/title_activity_view_products"></activity>
        <activity
            android:name=".View_Products"
            android:label="@string/title_activity_view__products"></activity>
        <activity
            android:name=".Login1"
            android:label="@string/title_activity_login1"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".AndroidDashboardDesignActivity"
            android:label="@string/title_activity_android_dashboard_design"></activity>
        <activity
            android:name=".AboutBeautyHub"
            android:label="@string/title_activity_about_beauty_hub"></activity>
        <activity
            android:name=".SearchBar"
            android:label="@string/title_activity_search_bar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Welcome"
            android:label="@string/title_activity_welcome"></activity>
        <activity
            android:name=".ExpandableList"
            android:label="@string/title_activity_expandable_list"></activity>
        <activity
            android:name=".NavDrawer"
            android:label="@string/title_activity_nav_drawer"></activity>
        <activity
            android:name=".SideMenu"
            android:label="@string/title_activity_side_menu"></activity>
        <activity
            android:name=".GridLayoutActivity"
            android:label="@string/title_activity_grid_layout"></activity>
        <activity
            android:name=".FullImageActivity"
            android:label="@string/title_activity_full_image"></activity>
        <activity
            android:name=".DisplayProducts"
            android:label="@string/title_activity_display_products"></activity>
        <activity
            android:name=".DisplayProduct"
            android:label="@string/title_activity_display_product"></activity>
        <activity
            android:name=".DisplayItem"
            android:label="@string/title_activity_display_item"></activity>
        <activity
            android:name=".SubCategoryExpandableList"
            android:label="@string/title_activity_sub_category_expandable_list"></activity>
        <activity
            android:name=".Henna"
            android:label="@string/title_activity_henna"></activity>
        <activity
            android:name=".Filter"
            android:label="@string/title_activity_filter"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".PriceFilter"
            android:label="@string/title_activity_price_filter"></activity>
        <activity
            android:name=".DiscountFilter"
            android:label="@string/title_activity_discount_filter"></activity>
        <activity
            android:name=".FilterOption"
            android:label="@string/title_activity_filter_option"></activity>
        <activity
            android:name=".FullImage"
            android:label="@string/title_activity_full_image"></activity>
        <activity android:name=".SetDate"></activity>
    </application>

</manifest>